pkgbase = omacontra
	pkgdesc = Contra-inspired wallpaper boss rush for Omarchy and Hyprland
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/gardnmi/omacontra
	arch = any
	license = MIT
	license = CC0-1.0
	license = CC-BY-3.0
	license = CC-BY-4.0
	license = LicenseRef-Omacontra-Assets
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = gtk3
	depends = mpv
	depends = sdl2-compat
	depends = hyprland>=0.55
	source = https://github.com/gardnmi/omacontra/releases/download/v1.0.1/omacontra-runtime.tar.gz
	source = omacontra.sh
	source = omacontra.desktop
	sha256sums = 7e766b318c1fce2d875e16c5417787a2ce720b49e526fdc6f6305227db0cbcbd
	sha256sums = 49e077b23d7edeeccc6bca344c9433a7e673580b590742a405fe2c4d895d13fb
	sha256sums = 6f45d09d1b7c2892d7b16b76964351741506d599f429795263fa976712955992

pkgname = omacontra
