pkgbase = omacontra
	pkgdesc = Contra-inspired wallpaper boss rush for Omarchy and Hyprland
	pkgver = 0.1.0.r26
	pkgrel = 7
	url = https://github.com/gardnmi/omacontra
	arch = any
	license = LicenseRef-Unknown
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = gtk3
	depends = mpv
	depends = sdl2-compat
	depends = hyprland>=0.55
	source = https://github.com/gardnmi/omacontra/releases/download/v0.1.0-lean.7/omacontra-runtime.tar.gz
	source = omacontra.sh
	source = omacontra.desktop
	sha256sums = af99cd4cc872dfd4c42ae6ba7597b81bcdf3aa13c3f78e85cf2862804befe609
	sha256sums = dfe19c75ab0b0da99b3324aae5dfbd6dd56a41a8e13267ed6030f7bdaffffa02
	sha256sums = 6f45d09d1b7c2892d7b16b76964351741506d599f429795263fa976712955992

pkgname = omacontra
